

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #4C3575;
    padding: 30px 45px;
  
    &__item {
      font-size: 16px;
      color: white;
    }
  }